* {
    box-sizing: border-box;
}

.btn-grad {
    background-image: linear-gradient(to right, #314755 0%, #d3e4ec 51%, rgb(7, 65, 146) 100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    /* box-shadow: 0 0 20px black; */
    border-radius: 10px;
    display: block;
    border-color: transparent;
    font-weight: bold;
}

.btn-grad:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.container {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    width: 80%;
    max-width: 100%;
}

div {
    display: block;
}

body {
    background-color: white !important;
    font-family: var(--myfont);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-repeat: no-repeat;
}

element.style {
    color: red;
}

.header h2 {
    margin: 0;
}


h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.header {
    border-bottom: 1px solid #f0f0f0;
    background-color: #f7f7f7;
    padding: 20px 40px;
    text-align: center;
}

.form {
    padding: 30px 40px;
}

b {
    font-weight: bold;
}

style attribute {
    color: red;
}

form {
    display: block;
    margin-top: 0em;
}

:host,
:root {
    --fa-style-family-classic: "Font Awesome 6 Free";
    --fa-font-solid: normal 900 1em/1 "Font Awesome 6 Free";
}

:host,
:root {
    --fa-font-regular: normal 400 1em/1 "Font Awesome 6 Free";
}

:host,
:root {
    --fa-style-family-brands: "Font Awesome 6 Brands";
    --fa-font-brands: normal 400 1em/1 "Font Awesome 6 Brands";
}

:root {
    --myfont: 'Mulish', sans-serif;
    --my-btn-font: 'Mulish', sans-serif;
    --lg-lightcolor: linear-gradient(to left, rgba(116, 235, 213, 0.6), rgba(159, 172, 230, 0.6));
    --lg-color: linear-gradient(to left, #74ebd5, #9face6);
}

.form-control {
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

.fa-solid,
.fas {
    font-weight: 900;
}

.fa-classic,
.fa-regular,
.fa-solid,
.far,
.fas {
    font-family: "Font Awesome 6 Free";
}

.fa,
.fa-brands,
.fa-classic,
.fa-regular,
.fa-sharp,
.fa-solid,
.fab,
.far,
.fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: var(--fa-display, inline-block);
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    text-rendering: auto;
}

element.style {
    font-weight: bold;
}

.form-control label {
    display: inline-block;
    margin-bottom: 5px;
}


label {
    cursor: default;
}

.form-control input {
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    font-family: inherit;
    font-size: 14px;
    padding: 50px;
    width: 100%;
    height: 40px;
}


input:not([type="range"]):not([type="color"]) {
    writing-mode: horizontal-tb !important;
}

input[type="text" i] {
    padding: 1px 2px;
}